{% extends "base.html" %}
{% block title %}Add a song{% endblock %}

{%block content %}
<h1 class="screen-title" align="center">Add a song of your choosing</h1>
<br />

<div class="main-content-auth">
    <h2>Add your song!</h2>

    <div class="auth-view">
        <form method="POST" enctype=multipart/form-data>
            <div class="form-group">
                <label for="author">Author</label>
                <br />
                <input type="text" 
                class="form-control" 
                id="author" 
                name="author" 
                placeholder="Enter Author's name"/>
            </div>
            <br />
        
            <div class="form-group">
                <label for="title">Title</label>
                <br />
                <input type="text" 
                class="form-control" 
                id="title" 
                name="title" 
                placeholder="Enter the song's title"/>
            </div>
            <br />
        
            <div class="form-group">
                <label for="genre">Genre</label>
                <br />
                <input type="text" 
                class="form-control" 
                id="genre" 
                name="genre" 
                placeholder="Enter the song's genre"/>
            </div>
            <br />
            
            <div class="form-group">
                <label for="description">Description</label>
                <br />
                <textarea 
                class="form-control" 
                id="description" 
                name="description" 
                placeholder="description..."
                ></textarea>
            </div>
            <br />

            <div class="form-group">
                <label for="location">Add the song file</label>
                <br />
                <input type="file" 
                class="form-control" 
                id="location" 
                name="location" 
                placeholder="Import the song"/>
            </div>
            <br />

            <button type="submit" class="submitbtn">Submit</button>
        </form>
    </div>
</div>
{% endblock %}