<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>

    <title>{% block title %}Home{% endblock %}</title>
</head>

<body>
    <nav class="home-nav">
        <div class="home-nav-div">
            <div class="home-nav-div">
                <form class="PL-form" action="{{ url_for('views.search', sort_by = 'id', order = 'asc') }}" method="POST">
                    <div>
                        <input class="searchbar" type="search_by" id="search_by" name="search_by" placeholder="Search..." />
                    </div>
                </form>
                {% if not user.is_authenticated %}
                <a class="home-nav-a" id="login" href="/login">Login</a>
                <a class="home-nav-a" id="signUp" href="/sign-up">Sign-up</a>
                {% endif %}
                {% if user.is_authenticated %}
                <a class="home-nav-a" id="logout" href="/logout">Logout</a>
                <a class="home-nav-a" id="view_playlists" href="/view_playlists">Playlists</a>
                <a class="home-nav-a" id="songs" href="{{ url_for('views.sort', sort_by = 'id', order = 'desc') }}">Songs</a>
                <a class="home-nav-a" id="home" href="/">Home</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert" id="myAlert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message }}
        </div>
        {% else %}
        <div class="success" id="mySuccess"> 
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="wrapper">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            Footer - Drepturi de Autor &copy; 2024
        </footer>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const button = document.querySelector("nav button");
            const nav = document.querySelector("nav");

            button.addEventListener("click", function() {
                nav.classList.toggle("minimized");
            });
        });
    </script>
</body>

</html>