{% extends "base.html" %}
{% block title %}Changed{% endblock %}

{%block content %}
{% if not sort_by and not order %}
<h1 align="center">This is the home page</h1>
<br />
<h2 align="center">These are the user added songs!</h2>
<br />
{% else %}
<h1 align="center">ooga</h1>
{% endif %}

<div class="main-content">
    <div class="central-view">
        <table>
            <tr>
                <th><a href="{{ url_for('views.sort', sort_by = 'author', order = 'desc') }}">Author</a></th>
                <th><a href="{{ url_for('views.sort', sort_by = 'title', order = 'desc') }}">Title</a></th>
                <th><a href="{{ url_for('views.sort', sort_by = 'genre', order = 'desc') }}">Genre</a></th>
                <th><a href="{{ url_for('views.sort', sort_by = 'username', order = 'desc') }}">Added by</a></th>
                <th>Play!</th>
                <th></th>
            </tr>
            {% for song in songs %}
            <tr>
                <td>{{ song[0] }}</td>
                <td><a href="{{ url_for('views.view_song', id = song[4]) }}">{{ song[1] }}</a></td>
                <td>{{ song[5] }}</td>
                <td>{{ song[2] }}</td>
                <td>
                    <audio controls>
                        <source src="{{ url_for('static', filename = 'uploads/' + song[3]) }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                    </audio>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="dropbtn">Options</button>
                        <div class="dropdown-content">
                            <a   href="{{ url_for('views.edit_song', id = song[4]) }}">Edit</a>
                            <div class="dropdown-secondary">
                                <button>Add to playlist</button>
                                <div class="dropdown-secondary-content">
                                    {% for playlist in playlists %}
                                    <a href="{{ url_for('views.add_to_playlist', playlist_id = playlist[1], song_id = song[4]) }}">{{ playlist[2] }}</a>
                                    {% endfor %}
                                    <form class="PL-form" action="{{ url_for('views.create_playlist', song_id = song[4]) }}" method="POST">
                                        <div>
                                            <input class="PL-form" type="text" id="name" name="name" placeholder="Type and press Enter" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <a   href="{{ url_for('views.delete_song', id = song[4]) }}">Delete</a>
                            <button onclick="">Share</button>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('views.add_song') }}">Add Song</a>
    </div>
    <div class="sidebar">
        <div class="sidebar-window"></div>
        <div class="sidebar-window"></div>
    </div>
</div>

{% endblock %}