{% extends "base.html" %}
{% block title %}Home{% endblock %}

{%block content %}
{% if not sort_by and not order %}
<h1 class="screen-title" align="center">Welcome {{ current_user.username }}!</h1>
<br />
{% else %}
<h1 align="center">ooga</h1>
{% endif %}

<div class="main-content">
    <div class="central-view">
        <h2 align="center">These are the latest user added songs!</h2>
        <table align="center" class="home-table">
            <tr>
                <th><a href="{{ url_for('views.sort', sort_by = 'title', order = 'desc') }}">Title</a></th>
                <th><a href="{{ url_for('views.sort', sort_by = 'author', order = 'desc') }}">Author</a></th>
                <th><a href="{{ url_for('views.sort', sort_by = 'genre', order = 'desc') }}">Genre</a></th>
                <th><a href="{{ url_for('views.sort', sort_by = 'username', order = 'desc') }}">Added by</a></th>
                <th>Play!</th>
                <th></th>
                <th></th>
            </tr>

            {% for song in songs[:8] %}
            <tr>
                <td><a href="{{ url_for('views.view_song', id = song[4]) }}">{{ song[1] }}</a></td>
                <td>{{ song[0] }}</td>
                <td>{{ song[5] }}</td>
                <td>{{ song[2] }}</td>
                <td>
                    <audio controls>
                        <source src="{{ url_for('static', filename = 'uploads/' + song[3]) }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                    </audio>
                </td>

                <td>
                    <div class="dropdown">
                        <button class="dropbtn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z"/></svg></button>
                        <div class="dropdown-content">
                            <a class="drop-a" href="{{ url_for('views.view_song', id = song[4]) }}">View</a>
                            <a class="drop-a" href="{{ url_for('views.edit_song', id = song[4]) }}">Edit</a>
                            <div class="dropdown-secondary">
                                <button>Add to playlist</button>
                                <div class="dropdown-secondary-content">
                                    {% for playlist in playlists %}
                                    <a href="{{ url_for('views.add_to_playlist', playlist_id = playlist[1], song_id = song[4]) }}">{{ playlist[2] }}</a>
                                    {% endfor %}
                                    <form class="PL-form" action="{{ url_for('views.create_playlist', song_id = song[4]) }}" method="POST">
                                        <div>
                                            <input class="PL-form" type="text" id="name" name="name" placeholder="Type and press Enter" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <a class="drop-a" href="{{ url_for('views.delete_song', id = song[4]) }}">Delete</a>
                            <button onclick="">Share</button>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>

        <div align="right">
            <a class="addSongbtn" href="{{ url_for('views.add_song') }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg></a>
        </div>
    </div>

    <div class="sidebar">
        <div class="sidebar-window">
            <h2>Here's some of the recent playlists:</h3>
            {% for i in range(list_index) %}
                <p class="playlist-homeview">{{ i+1 }} - <a href="{{ url_for('views.view_playlist', playlist_id = playlist_view[i][1]) }}">{{ playlist_view[i][2] }}</a>  -  made by {{ playlist_view[i][4] }}</p>
            {% endfor %}
            <p class="playlist-homeview-last">8 - <a>{{ playlist_view[7][2] }}</a>  -  made by {{ playlist_view[7][4] }}</p>
        </div>

        <div class="sidebar-window-2">
            <h2>Genres:</h2>
            <ul class="sidebar-genres">
                {% for i in range(genres_len) %}
                    &bull; <a href="{{ url_for('views.search', search_by = genres[i][0], search_in = 'genre', order = 'asc') }}"> {{ genres[i][0] }}</a></li>
                    {% if i%4 == 3 %}
                        <br />
                    {% endif %}    
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}