{% extends "base.html" %}
{% block title %}Changed{% endblock %}

{%block content %}
<h1 class="screen-title" align="center">Searching</h1>
<br />

<div class="main-content-edit">    
    <h2>Songs:</h2>

    <div class="central-view">
        <p align="left">
            sorting in
            {% if order == 'desc' %}
            <a href="{{ url_for('views.search_sort', sort_by = sort_by, order = 'asc', search_by = search_by) }}">descending</a>
            {% else %}
            <a href="{{ url_for('views.search_sort', sort_by = sort_by, order = 'desc', search_by = search_by) }}">ascending</a>
            {% endif %}
            order
        </p>

        <table align="center" class="home-table">
            <tr>
                <th><a href="{{ url_for('views.search_sort', sort_by = 'author', order = order, search_by = search_by) }}">Author</a></th>
                <th><a href="{{ url_for('views.search_sort', sort_by = 'title', order = order, search_by = search_by) }}">Title</a></th>
                <th><a href="{{ url_for('views.search_sort', sort_by = 'genre', order = order, search_by = search_by) }}">Genre</a></th>
                <th><a href="{{ url_for('views.search_sort', sort_by = 'username', order = order, search_by = search_by) }}">Added by</a></th>
                <th>Play!</th>
                <th></th>
                <th></th>
            </tr>

            {% for song in songs %}
            <tr>
                <td>{{ song[0] }}</td>
                <td>{{ song[1] }}</td>
                <td>{{ song[5] }}</td>
                <td>{{ song[2] }}</td>
                <td>
                    <audio controls>
                        <source src="{{ url_for('static', filename = 'uploads/' + song[3]) }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                    </audio>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="dropbtn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M6 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z"/></svg></button>

                        <div class="dropdown-content">
                            <a class="drop-a" href="{{ url_for('views.view_song', id = song[4]) }}">View</a>
                            <a class="drop-a" href="{{ url_for('views.edit_song', id = song[4]) }}">Edit</a>

                            <div class="dropdown-secondary">
                                <button>Add to playlist</button>

                                <div class="dropdown-secondary-content">
                                    {% for playlist in playlists %}
                                    <a href="{{ url_for('views.add_to_playlist', playlist_id = playlist[1], song_id = song[4]) }}">{{ playlist[2] }}</a>
                                    {% endfor %}
                                    
                                    <form class="PL-form" action="{{ url_for('views.create_playlist', song_id = song[4]) }}" method="POST">
                                        <div>
                                            <input class="PL-form" type="text" id="name" name="name" placeholder="Type and press Enter" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <a class="drop-a" href="{{ url_for('views.delete_song', id = song[4]) }}">Delete</a>
                            <button onclick="">Share</button>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        
        <p align="right">
            <a class="addSongbtn" href="{{ url_for('views.add_song') }}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg></a>
        </p>
    </div>
</div>
{% endblock %}