{% extends "base.html" %}
{% block title %}{{ song[1] }}{% endblock %}

{% block content %}
<h1 class="screen-title" align="center">Song {{ song[1] }}</h1>

<div class="main-content-edit">
    <h2>Song information:</h2>
    <form>
        <a href="{{ url_for('views.edit_song', id = song[0]) }}">Edit song</a>
        <a href="{{ url_for('views.delete_song', id = song[0]) }}">Delete song</a>
    </form>
    <div class="central-view">
        <table class="home-table">
            <tr>
                <th>Title</th>
                <th>Author</th>               
                <th>Genre</th>
                <th>Added by</th>
                <th>Play!</th>
                <th></th>
            </tr>
            <tr>
                <td>{{ song[1] }}</td>
                <td>{{ song[3] }}</td>
                <td>{{ song[4] }}</td>
                <td>{{ song[7] }}</td>
                <td><audio controls>
                    <source src="{{ url_for('static', filename = 'uploads/' + song[2]) }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                </audio></td>
                <td></td>
            </tr>
        </table>
        <br />
        <h2>Description:</h2>
        <p>{{ song[5] }}</p>
    </div>
</div>
{% endblock %}