{% extends "base.html" %}
{% block title %}<h1>Playlists</h1>{% endblock %}

{%block content %}
<h1 class="screen-title" align="center">Recent playlists</h1>
<br />

<div class="main-content-edit">
    <h2 align="center">Playlists:</h2>

    <div class="central-view">
        <table align="center" class="home-table">
            <tr>
                <th>Name</th>
                <th>Made by</th>
                <th></th>
                <th></th>
            </tr>
            {% for playlist in playlists %}
            <tr>
                <td><a href="{{ url_for('views.view_playlist', playlist_id = playlist[1]) }}">{{ playlist[2] }}</a></td>
                <td>{{ playlist[4] }}</td>
                <td><a href="{{ url_for('views.view_playlist', playlist_id = playlist[1]) }}">View Playlist</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
        

{% endblock %}