{% extends "base.html" %}
{%  block title %}{{ playlist_name }}{% endblock %}

{%  block content %}
<h1 align="center">{{ playlist_name }}</h1>
<br />

<div class="main-content-edit">
    <h2>Songs:</h2>
    <form>
        <a href="{{ url_for('views.edit_playlist', playlist_id = playlist_id) }}">Edit playlist</a>
        <a href="{{ url_for('views.delete_playlist', playlist_id = playlist_id) }}">Delete Playlist</a>
    </form>
    <div class="central-view">
        <table>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Added by</th>
                <th>Play!</th>
                <th></th>
        
            </tr>
            {% for song in songs %}
            <tr>
                <td>{{ song[0] }}</td>
                <td><a href="{{ url_for('views.view_song', id = song[3]) }}">{{ song[1] }}</a></td>
                <td>{{ song[2] }}</td>
                <td>
                    <audio controls>
                        <source src="{{ url_for('static', filename = 'uploads/' + location) }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                    </audio>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="dropbtn">Options</button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('views.view_song', id = song[3]) }}">View</a>
                            <a   href="{{ url_for('views.edit_song', id = song[3]) }}">Edit</a>
                            <button onclick="">Edit</button>
                            <div class="dropdown-secondary">
                                <button>Add to playlist</button>
                                <div class="dropdown-secondary-content">
                                    {% for playlist in playlists %}
                                    <a href="{{ url_for('views.add_to_playlist', playlist_id = playlist[1], song_id = song[3]) }}">{{ playlist[2] }}</a>
                                    {% endfor %}
                                    <form class="PL-form" action="{{ url_for('views.create_playlist', song_id = song[3]) }}" method="POST">
                                        <div>
                                            <input class="PL-form" type="text" id="name" name="name" placeholder="Type and press Enter" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <button onclick="">Delete</button>
                            <button onclick="">Share</button>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}